footer {
  .maps_google {
    width: 100% !important;

    iframe {
      width: 100% !important;
      height: 400px !important;
    }
  }

  .footer_bg {
    background-color: #13253b;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    display: flex;
  }

  .space {
    justify-content: space-between;
    padding: 120px 0;
  }

  .copy {
    span {
      font-family: 'Montserrat', 'sans-serif';
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #ffffff;
    }

  }

  .social_lincks {
    span {
      display: inline-block;
      color: #ffffff;
    }

    .facebook {
      padding: 0 30px;

      &:before {
        content: "\e90e";
        font-family: 'icomoon';
        font-size: 28px;
      }
    }

    .twitter {
      padding: 0 25px;

      &:before {
        content: "\e90c";
        font-family: 'icomoon';
        font-size: 28px;
      }
    }

    .instagram {
      padding: 0 30px;

      &:before {
        content: "\e90d";
        font-family: 'icomoon';
        font-size: 28px;
      }

    }

    .google {
      padding: 0 20px;

      &:before {
        content: "\e90b";
        font-family: 'icomoon';
        font-size: 28px;
      }
    }

    .behance {
      padding: 0 40px;

      &:before {
        content: "\e90a";
        font-family: 'icomoon';
        font-size: 28px;
        color: #226be2;
      }
    }

    .dribbble {
      padding: 0 15px;

      &:before {
        content: "\e909";
        font-family: 'icomoon';
        font-size: 28px;
      }
    }
  }
}