*, *:before, *:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  min-width: 320px;
}

header {
  background: url("../../src/images/bg_header.png") no-repeat top;
  background-size: auto;
  height: 1042px;

  .container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: flex;
  }

  .logo {
    margin-top: 79px;
    margin-right: 96px;

    span {
      font-family: 'Poppins', 'sans-serif';
      font-weight: 600;
      font-size: 34px;
      line-height: 49px;
      color: #ffffff;
    }

    a {
      text-decoration: none;
    }
  }

  .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent
  }

  .menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: linear-gradient(225.46deg, #45B64A -0.83%, #588559 100%);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .menu__icon span:nth-child(1) {
    top: 0;
  }

  .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
  }

  .menu__icon span:nth-child(4) {
    top: 26px;
  }

  .menu__links {
    margin-top: 60px;

    a {
      text-decoration: none;
    }
  }

  .menu__links-item {
    display: inline-block;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #ffffff;
    margin-right: 25px;
  }

  .last {
    background: #ffffff;
    padding: 15px 50px;
    border-radius: 40px;
    display: inline-block;
    margin: 0;
    margin-left: 50px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 26px;
    line-height: 38px;
    font-weight: 400;
    color: #4085f6;
  }

  .menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .menu.menu_state_open .menu__links {
    display: block;
  }

  .between {
    justify-content: space-between;
  }

  .images_phone {
    max-width: 590px;
    width: 100%;

    img {
      position: relative;
      left: -110px;
      width: 100%;
    }
  }

  .sub_descrtiption {
    text-align: right;
    margin-top: 230px;

    .sub_title {
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 600;
      font-size: 46px;
      line-height: 62px;
      color: #ffffff;
    }

    .sub_title_text {
      font-family: 'Poppins', 'sans-serif';
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      color: #ffffff;
    }

    .spacing {
      letter-spacing: -1;
      margin-top: 24px;
      display: inline-block;
    }

    img {
      padding: 20px 40px;
      background: black;
      border-radius: 50px;
      margin-top: 80px;
    }

    .adroid {
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 1170px) {
    .menu__icon {
      display: inline-block;
    }
    .menu__links {
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 52px;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000000;
      overflow: auto;
    }
    .menu__links-item {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #ffffff;
    }
  }


}
